# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Database
database.ini

# Virtual environment
venv/
.env/
.venv/
.env

# Jupyter notebook checkpoints
.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Streamlit cache
.streamlit/

# VS Code
.vscode/

# PyCharm
.idea/
